.testimonials-tabs {

}

.testimonials-tabs__menu {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: $gutter;
}

.testimonials-tabs__item {
  margin-right: 2%;
  opacity: 0.5;
  transition: opacity $duration * 1.5;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    opacity: 1;
  }
}

.testimonials-tabs__link {
  display: block;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.testimonials-tabs__photo {
  display: block;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;

  @include mq-min(480px) {
    width: 42px;
    height: 42px;
  }

  @include mq-min(667px) {
    width: 48px;
    height: 48px;
  }

  @include mq-min(1024px) {
    width: 64px;
    height: 64px;
  }
}

.testimonials-tabs__pane {

}
