.testimonials {

}

.testimonials__tabs {

}

.testimonials__item {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
}

.testimonials__author-name {
  display: block;
  margin-top: $gutter / 2;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.testimonials__text {
  font-size: 16px;
}
